/* @import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

:root {
  --primaryColor : #1E1F29;
  --primaryText: #ffffff;
  --secondaryText : #FB6087;
  --timerBody: #191A24;
  --timerPages: #36384E;
}

body {
  margin: 0;
  font-family: 'Red Hat Text', sans-serif;
  font-size: 14px;
  background-color: var(--primaryColor);
  background-image: url("./images/bg-stars.svg");
  color: var(--primaryText);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
