$timerPages: #36384E;

// Primary
$null: #8486a9; //- Grayish blue
$secondaryText : #FB6087; //- Soft red

// Neutral
$primaryText: #ffffff; // - White
$left: #343650; //- Dark desaturated blue
$primaryColor : #1E1F29; // - Very dark blue
$timerBody: #191A24; // - Very dark (mostly black) blue
