// Primary
$secondaryText: #8486a9; //- Grayish blue
$primaryText : #FB6087; //- Soft red

// Neutral
// $title: #ffffff; // - White
$primaryColor: #343650; //- Dark desaturated blue
$secondaryColor: #191A24; // - Very dark (mostly black) blue
$bgColor : #1E1F29; // - Very dark blue
